<div class="admin-page">
    <div class="form">
        <form method="get">
            <fieldset>
                <legend>Manage Assignments</legend>
                <div class="form-group row">
                    <label for="formGroupExampleInput" class="col-2 col-form-label">Booking ID</label>
                    <div class="col-6">
                        <select name="booking_id" size="1" class="form-control" id="booking_id">
                            <!--TO DO add blank space-->
                            {{#each booking_display}}
                            <option value="{{booking_ID}}">{{booking_ID}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="formGroupExampleInput" class="col-2 col-form-label">Location</label>
                    <div class="col-6">
                        <select name="location_filter" size="1" class="form-control" id="location_filter">
                            <!--TO DO add blank space-->
                            {{#each location_display}}
                            <option value="{{location_id}}">{{location_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="formGroupExampleInput" class="col-2 col-form-label">Tour Guide</label>
                    <div class="col-6">
                        <select name="guide_filter" size="1" class="form-control" id="guide_name">
                        <!--TO DO add blank space-->
                            {{#each guide_display}}
                            <option value="{{guide_id}}">{{guide_full_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark" id="submitInfo">Search</button>
                <a href="/add-assignment" class="btn btn-dark" id="submitInfo">Add New Assignment</a>

            </fieldset>
        </form>
    </div>
    <div id="customer-page">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Assignment ID#</th>
                    <th scope="col">Booking ID#</th>
                    <th scope="col">Guide</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Departure Date</th>
                    <th scope="col">Arrival Date</th>
                    <th scope="col"># Adults</th>
                    <th scope="col"># Children</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each assignments}}
                <tr>
                    <td>{{assignment_ID}}</td>
                    <td>{{booking_ID}}</td>
                    <td>{{guide}}</td>
                    <td>{{destination}}</td>
                    <td>{{customer}}</td>
                    <td>{{departure_date}}</td>
                    <td>{{arrival_date}}</td>
                    <td>{{count_adults}}</td>
                    <td>{{count_kids}}</td>
                    <td><button type="button" class="btn btn-dark">Delete</button></td>
                    <td><a href="/update-assignments" class="btn btn-dark">Edit</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>