<div class="admin-page"> 
  <div class="form">
    <form id="filter_customer" action='' method=''>
        <fieldset>
            <legend>Search Customers</legend>
            <div class="form-group row">
                <label for="formGroupExampleInput" class="col-2 col-form-label">Email ID</label>
                    <div class="col-6">
                        <select name="email_id" size="1" class="form-control" id="email_id">
             		    <option selected="" disabled="">Select email ID</option>	
                            {{#each email_display}}
                            <option value="{{customer_ID}}">{{email_id}}</option>
                            {{/each}}
                        </select>
                    </div>
            </div>
            <input type="button" value = "Filter" onclick = "filterCustomerBycustomerID()" class = "btn btn-dark">
	    <a href="/customer" class="btn btn-dark" id="submitInfo">Clear</a>	
            <a href="/customer/add-customer" class="btn btn-dark" id="submitInfo">Add New Customer</a>

        </fieldset>
    </form>
  </div>   
  <div id="customer-page">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Country</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Email</th>
                    <th scope="col"># Bookings</th>
                    <th scope="col"># Reviews</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each customer}}
                <tr>
                    <th scope="row">{{customer_ID}}</th>
                    <td>{{first_name}}</td>
                    <td>{{middle_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{street_no}}</td>
                    <td>{{city}}</td>
                    <td>{{state}}</td>
                    <td>{{country}}</td>
                    <td>{{phone_number}}</td>
                    <td>{{email_id}}</td>
                    <td>{{numberofbookings}}</td>
                    <td>{{numberofreviews}}</td>
                    <td><a href="/customer/{{customer_ID}}" class="btn btn-dark">Edit</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
