 <div class="admin-page">
    <div class="form">
        <form ud='filter_location' action='' method=''>
            <fieldset>
                <legend>Manage Locations</legend>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Search By Country</label>
                    <div class="col-6">
                        <input class="form-control" id='country_search_string' type='text' name='country_search_string' value=''>
                    </div>
                </div>
                <input type="button" class="btn btn-dark" value="Search" onclick="searchLocationByCountry()">
                <a href="/locations" class="btn btn-dark" id="submitInfo">Clear</a>
                <a href="/locations/add-location" class="btn btn-dark" id="submitInfo">Add New Location</a>
            </fieldset>
        </form>
    </div>
    <div id="customer-page">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Location ID#</th>
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                    <th scope="col">Price Per Adult</th>
                    <th scope="col">Price Per Child</th>
                    <th scope="col"># Bookings</th>
                    <th scope="col"># Tour Guides</th>
                    <th scope="col"># Adults + Kids</th>
                    <th scope="col">Average Review</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each location}}
                <tr>
                    <th scope="row">{{location_ID}}</th>
                    <td>{{city}}</td>
                    <td>{{country}}</td>
                    <td>{{price_adult}}</td>
                    <td>{{price_child}}</td>
                    <td>{{count_bookings}}</td>
                    <td>{{count_guides}}</td>
                    <td>{{adults_kids}}</td>
                    <td>{{ave_review}}</td>
                    <td><a href="/locations/{{location_ID}}" class="btn btn-dark">Edit</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>      
