<div class="admin-page">
    <div class = "form">
        <form method="get">
            <fieldset>
                <legend>Manage Ratings</legend>
                <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-2 col-form-label">Rating</label>
                        <div class="col-6">
                            <select id="select_rating" size="1" class="form-control" name="select-rating">
                                <option selected="" disabled="">Select Rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                </div>
                <input type="button" value = "Filter" onclick = "filterRatingByRating()" class = "btn btn-dark">
                <a href="/rating" class="btn btn-dark" id="submitInfo">Clear</a>
                <button type="button" class="btn btn-dark" id="submitInfo">
                        <a href="/add-rating" id="link">Add New Rating</a>
                </button>
            </fieldset>
        </form>
    </div>
    <br />
    <div id="customer-page">
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Rating ID#</th>
            <th scope="col">Travel Location ID#</th>
            <th scope="col">Travel Location</th>
            <th scope="col">Customer ID#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
        </tr>   
        </thead>
        <tbody>
            {{#each rating}}
            <tr>
                <th scope="row">{{rating_ID}}</th>
                <td>{{travelLocation_ID}}</td>
                <td>{{city}}</td>
                <td>{{customer_ID}}</td>
                <td>{{customer_name}}</td>
                <td>{{rating}}</td>
                <td>{{review}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    </div>    
</div>
